asyncpg>=0.30.0
faker>=37.3.0
fastapi>=0.115.12
fastcrud>=0.15.11
greenlet>=3.2.2
gunicorn>=23.0.0
httptools>=0.6.4
httpx>=0.28.1
psycopg2-binary>=2.9.10
pydantic>=2.11.5
pydantic-settings>=2.9.1
pytest>=8.3.5
pytest-mock>=3.14.0
python-jose>=3.4.0
python-multipart>=0.0.20
redis>=6.1.0
SQLAlchemy>=2.0.41
SQLAlchemy-Utils>=0.41.2
uuid>=1.30
uvicorn>=0.34.2
uvloop>=0.21.0
slowapi>=0.1.9
fastapi-users[sqlalchemy]>=14.0.1
Authlib>=1.1.0
urllib3>=2.4.0
itsdangerous>=2.2.0